// background-color

.black{
    background-color: #000000;
}

.transparent{
    background-color: transparent;
}


// text-color
.t-white{
    color: white;
}

.button{
    border: 1px solid white;
    text-transform: uppercase;
    padding: 10px 20px;
}


